{
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["**/*-spec.js", "**/*.spec.js"]
    }],
    "func-style": ["error", "expression"],
    "prefer-arrow-callback": ["error", {
      "allowNamedFunctions": false
    }]
  }
}
