:root {
  --main-bg-color: #1d252c;
  --main-bg-color-dark: #181e24;
  --font-color: #b7c5d3;
  --font-color-light: #fafcfe;
  --font-color-dark: #394c63;
  --font-color-vdark: #212d3a;
  --header-bg-color: #171d23;
  --header-height: 50px;
  --main-content-max-width: 1200px;
  --green: #9ece5e;
  --blue: #3c5397;
  --red: #d35f6d;
  --orange: #e0af68;
}
