@import "~bootstrap/scss/bootstrap";

.command-palette {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .80);
  overflow: hidden;
}

.command-palette.hidden {
  display: none!important;
}

.command-palette-controls {
  padding: 7px;
  background-color: #acacac;
  position: absolute;
  display: block;
  width: 100%;
  max-width: 600px;
  top: 10vh;
  left: calc(50% - 300px);
  border-radius: 5px;
  max-height: 400px;
}

.command-palette-controls input {
  @extend .form-control;
  height: 40px;
  width: 100%;
  margin-bottom: 7px;
  background-color: #5c5c5c!important;
  color: #f1f1f1!important;
  font-size: 105%;
  border: 1px solid #888;
}

.command-palette-search-results {
  list-style: none;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #888;
  max-height: calc(400px - 62px);
  height: 100%;
  overflow-y: auto;
}

.command-palette-search-results li {
  width: 100%;
  height: 40px;
  background-color: #acacac;
  border-bottom: 1px solid #888;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  font-size: 105%;
  color: #dadada;

  &.selected {
    color: #fff;
    background-color: #bababa;
  }
}
.command-palette-search-results li:last-child() {
  border: none;
}
