@import "~bootstrap/scss/bootstrap";

.markdown {
  margin-bottom: 25px;
}

.markdown blockquote {
  @extend .blockquote;
  color: #777;
  font-size: 100%;
}

.markdown pre {
  background-color: #f4f6f8;
  padding: 15px;
}
