@import "~bootstrap/scss/bootstrap";

.markdown {
  margin-bottom: 25px;
}

.markdown i.em {
  font-size: 125%;
  margin: 0 2px;
}

.markdown blockquote {
  @extend .blockquote;
  color: #777;
  font-size: 100%;
}

.markdown pre {
  background-color: #2b303b;
  color: #d0d5de;
  padding: 15px;
  font-size: 80%;
}
