html {
  font-size: 16px;
}
nav {
  border-radius: 0 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}
.content {
  padding: 150px 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.ui.text.container {
  max-width: none !important;
}
