@import "~bootstrap/scss/bootstrap";

body {
  background: white;
  margin: 0;
}

blockquote {
  padding: 15px;
  color: #777;
  border-left: 5px solid #ddd;
}

button {
  @extend .btn;
  @extend .btn-secondary;
}

nav {
  @extend .nav-pills;
  padding: 15px!important;
}

nav a {
  @extend .nav-link;
}

.flash-message {
  @extend .alert;
  @extend .alert-info;
  display: block;
}

.content {
  padding: 25px;
}
