@import "~bootstrap/scss/bootstrap";

html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 18px;
  }
}

body {
  background: white;
  margin: 0;
  margin-bottom: 75px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"!important;
}

button {
  @extend .btn;
  @extend .btn-secondary;
}

nav {
  @extend .nav-pills;
  padding: 15px!important;
  background-color: #08f;
  border-bottom: 1px solid #ddd;
  a {
    color: white;
    &:focus {
      color: white;
    }
    &:hover {
      color: #014c8c;
    }
  }
}

nav a {
  @extend .nav-link;
}

.flash-message {
  @extend .alert;
  @extend .alert-info;
  display: block;
}

.content {
  padding: 45px 25px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
